[worldserver]

#
#    DuelReset.Cooldowns
#        描述: 在决斗开始前重置所有冷却，并在决斗结束时恢复它们。
#        默认:     1  - （启用）
#                     0  - （禁用）

DuelReset.Cooldowns = 1

#    DuelReset.HealthMana
#        描述: 在决斗开始前重置生命值和法力值，并在决斗结束时恢复它们。
#        默认:     1  - （启用）
#                     0  - （禁用）

DuelReset.HealthMana = 1

#    DuelReset.CooldownAge
#        描述: 冷却重置所需的时间。以秒为单位，自冷却开始计算。
#        默认:     30  - （启用）
#                     0  - （禁用）

DuelReset.CooldownAge = 10

#    DuelReset.Zones
#        描述: 以分号（;）分隔的ZoneID的白名单，其中启用冷却和生命/法力值重置。
#                     如果Zones设置为any，则设置的区域不重要。重置将始终被应用。
#                     如果Zones设置为none，则仅设置的区域重要。
#
#        示例:    "876;3817" - （GM岛；测试）
#                     "0" - （无）
#                     ""  - （任何）
#        默认:     "0" - （无）

DuelReset.Zones = ""

#    DuelReset.Areas
#        描述: 以分号（;）分隔的AreaID的白名单，其中启用冷却和生命/法力值重置。
#                     如果Areas设置为any或none，则只有设置的Zones重要。
#
#        示例:    "85;1" - （提瑞斯法林地；丹莫罗）
#                     "0" - （无）
#                     ""  - （任何）
#        默认:     "12;14;809" - （艾尔文森林；杜隆塔尔；铁炉堡之门）

DuelReset.Areas = ""
